
@{
    ViewBag.Title = "RideOnGoing";
    Layout = "~/Views/Shared/_passengerView.cshtml";
}

<h2>RideOnGoing</h2>

<p>Soon some of our best drivers will contact with you. Thank you for using our service.</p>