@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pick Me Up<br />
    Aiub Permanent Campus<br />
    <abbr title="Phone">P:</abbr>
    01986599166
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@pickmeup.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@pickmeup.com</a>
</address>