@{
    ViewBag.Title = "Home Page";
}
@{
    if (HttpContext.Current.User.IsInRole("Admin"))
    {
        @Html.Partial("_adminView")
    }

    else if (HttpContext.Current.User.IsInRole("Driver"))
    {
        Response.Redirect("~/Drivers/Index");
    }

    else if (HttpContext.Current.User.IsInRole("Passenger"))
    {
        Response.Redirect("~/Passengers/Index");
    }

    else
    {
        <div class="jumbotron">
            <h1>Pick Me Up</h1>
            <p class="lead">Pick me up is a free web based vehicle rental website built with HTML, JavaScript, BootStrap and Asp.Net with Entity Framework and Identity</p>
            <p><a href="http://localhost:64722/home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Ride with us</h2>
                <p>
                    Ride with our best drivers with upto luxury vehilces.
                </p>
                <p><a class="btn btn-default" href="http://localhost:64722/Account/Register">Sign Up &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Ride For Us</h2>
                <p>Register as a driver for us and earn upto 20,000 Tk per month.</p>
                <p><a class="btn btn-default" href="http://localhost:64722/Account/RegisterDriver">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Contact with us</h2>
                <p>Contact us for any enqueries.</p>
                <p><a class="btn btn-default" href="http://localhost:64722/Home/Contact">Learn more &raquo;</a></p>
            </div>
        </div>
    }


}